@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: "Space Grotesk", sans-serif;
    /* opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s ease forwards; */
}

/* 
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: #faf5ef;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
    margin: 1rem 20rem 1rem 20rem;
}

.header .content {
    /* margin-left: 1rem; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header .main-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}


.header .main-content img {
    max-width: 40px;
    height: auto;
    user-select: none;
    transition: max-width 0.3s ease;
}

.header .name {
    cursor: default;
    padding-left: 0.5rem;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.links-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.links-content ul li {
    margin-left: 9rem;
}

.links-content ul li a {
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

/* Main-section */

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 10rem;
    gap: 2rem;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 20px;
}

.info-section {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 20px;
    flex: 1;
    font-size: 24px;
}

.socials {
    margin-top: 8rem;
    display: flex;
    border: 4px black solid;
}

.socials ul {
    margin-bottom: 25px;
    list-style-type: none;
}

.socials ul li {
    display: flex;
    padding: 20px 0;
}

.socials ul li a {
    margin-left: 20px;
    color: #2697bc;
    text-decoration: none;
}

.socials ul li img {
    width: 32px;
}

.info-section #asd {
    font-size: 30px;
}

.info-section #asp {
    font-size: 20px;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    flex: 1;
    border-radius: 0.5rem;
    border: 5px black solid;
}

.form-section h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0 20px 0;
    font-size: 40px;
}

.form-section input {
    width: 500px;
    padding: 0.875rem;
    font-size: 1.3rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}

.form-section input:focus {
    box-shadow: 5.5px 7px 0 black;
}

.form-section textarea {
    width: 500px;
    height: 80px;
    padding: 0.875rem;
    font-size: 1.3rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}

.form-section textarea:focus {
    box-shadow: 5.5px 7px 0 black;
}

.form-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 20px;
}

.form-section .user-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-input label {
    font-size: 20px;
    font-weight: 500;
}

.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}


.home {
    display: flex;
    position: relative;
    border-bottom-left-radius: 10px;
    transition: border-bottom-left-radius 1s;


    &:after,
    &:before {
        content: "";
        width: 20px;
        border: 0 solid black;
        transition: all 1s;
        position: absolute;
    }

    &:before {
        bottom: 0;
        right: 1px;
        border-bottom: 2px solid black;
    }

    &:hover {

        &:after,
        &:before {
            width: 100%;
        }
    }
}

/* hover about */
.about {

    display: flex;
    word-break: normal;

    position: relative;
    border-bottom-left-radius: 10px;
    transition: border-bottom-left-radius 1s;


    &:after,
    &:before {
        content: "";
        width: 20px;
        border: 0 solid black;
        transition: all 1s;
        position: absolute;
    }

    &:before {
        bottom: 0;
        right: 1px;
        border-bottom: 2px solid black;
    }

    &:hover {

        &:after,
        &:before {
            width: 100%;
        }
    }
}

/* hover arts */
.contact {
    position: relative;
    border-bottom-left-radius: 10px;
    transition: border-bottom-left-radius 1s;

    &:after,
    &:before {
        content: "";
        width: 20px;
        border: 0 solid black;
        transition: all 1s;
        position: absolute;
    }

    &:before {
        bottom: 0;
        right: 1px;
        border-bottom: 2px solid black;
    }

    &:hover {

        &:after,
        &:before {
            width: 100%;
        }
    }
}

/* hover contact */
.shop {
    position: relative;
    border-bottom-left-radius: 10px;
    transition: border-bottom-left-radius 1s;

    &:after,
    &:before {
        content: "";
        width: 20px;
        border: 0 solid black;
        transition: all 1s;
        position: absolute;
    }

    &:before {
        bottom: -5px;
        right: 1px;
        border-bottom: 2px solid black;
    }

    &:hover {

        &:after,
        &:before {
            width: 100%;
        }
    }
}

/* Footer Section */

.footer {
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
    border-top: 2px black solid;
}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    /* opacity: 50%; */
}

.footer-content p {
    color: black;
}

.footer-content a {
    color: black;
    text-decoration: none;
    margin: 5px 0;
}

.goup {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.goup img {
    width: 50px;
    height: 50px;
    /* padding-bottom: 5px; */
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.goup img:hover {
    opacity: 1;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opacity: 50%; */
    margin: 30px;
    text-align: center;
    color: black;
}

.quick-links {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-links a {
    text-decoration: none;
}

.quick-links img:hover {
    opacity: 100%;
}

.quick-links img {
    width: 30px;
    height: 30px;
    margin: 0 20px 0 20px;
    opacity: 50%;
    transition: opacity 0.3s ease-in-out;
}